<config>
    
    <sections>
        <catalog>
            <groups>
                <phillro_commissionjunction translate="label" module="commissionjunction">
                    <label>Commission Junction Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <cid translate="label">
                            <label>CID</label>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cid>
                        <subid translate="label">
                            <label>SUBID</label>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </subid>
                        <aid translate="label">
                            <label>AID</label>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </aid>
                    </fields>
                </phillro_commissionjunction>
            </groups>
        </catalog>
    </sections>
</config>